<% if(wrongPassword.length > 0) { %>
    <div id="wrongPassword" class="bg-red-500 text-black text-center w-40 self-center border border-black px-2 py-2 mb-4">
            <%= wrongPassword %><br>
    </div>
<% } %>